body {
  color: #f6f6f6;
  background-color: #060606;
}
body a:hover {
  color: #E3A80F;
}

.header__more .default-btn, .default-btn {
  color: #fff;
}
.header__more .default-btn.style-2, .default-btn.style-2 {
  background: linear-gradient(135deg, #EDC111, #E3A80F);
}
.header__more .default-btn:hover, .default-btn:hover {
  box-shadow: var(--shadow);
  color: #fff;
}
.header__more .default-btn:hover span, .default-btn:hover span {
  color: #fff;
}

.mainmenu ul li a {
  color: #f6f6f6;
}
.mainmenu ul li.active > a {
  color: #E3A80F;
  text-decoration: none;
}
.mainmenu ul li:hover > a {
  color: #E3A80F;
}
.mainmenu ul li.active > a::after, .mainmenu ul li.active > a::before, .mainmenu .menu-item-has-children:hover > a::after {
  background: #E3A80F;
}
.mainmenu ul li ul li a.active, .mainmenu ul li ul li a:hover {
  background: linear-gradient(135deg, #EDC111, #E3A80F);
}

.shop-cart .section-wrapper .cart-bottom .cart-checkout-box .coupon input[type=submit], .shop-cart .section-wrapper .cart-top table thead tr, .shop-single .review .review-content .review-showing .client-review .review-form .review-title h4::before, .shop-single .review .review-nav li.active, .shop-single .product-details .post-content form .default-btn, .member__buttongroup li.is-checked .member__radio, .about--style2 .about__right, .about--style2 .about__bottom--navi div:hover, .about--style2 .about__bottom--navi div.active, .footer--style2 .footer__newsletter--form form .default-btn, .footer__newsletter--form form .default-btn, .header__top, .create-post .lab-inner .lab-content .post-form .content-type .content-list .post-submit .default-btn, .cart-plus-minus .qtybutton:hover, .cart-plus-minus .qtybutton {
  background: #E3A80F;
}

.about--style2 .about__right .banner__inputlist,
.about--style2 .about__right .banner__inputlist select {
  background: #E3A80F;
  background: #fff3d4;
  color: #353535;
}

.shop-cart .section-wrapper .cart-bottom .cart-checkout-box .cart-checkout input[type=submit]:hover, .shop-cart .section-wrapper .cart-top table tbody tr td.product-item .p-content a:hover, .shop-single .review .review-content .review-showing .content li .post-content .entry-meta .posted-on a:hover, .shop-page .shop-product-wrap .product-item:hover .product-content h5 a, .shop-page .shop-product-wrap .product-list-item:hover .product-content h5 a, .shop-page .shop-title .product-view-mode a.active, .shop-page .section-header h4 span, .widget.shop-widget .widget-wrapper .shop-menu li .shop-submenu li.open > a, .widget.shop-widget .widget-wrapper .shop-menu li.open > a, .blog__inner:hover .blog__content a h3, .blog__inner:hover .blog__content a h2, .app__content h4, .member--style2 .member__tab li button.active, .member__buttongroup li.is-checked, .work__content h3, .work__tablist .nav-link.active span, .about__content h3 .counter, .about__inner:hover .about__content h4, .footer--support .footer__content--desc ul li a:hover, .footer--activity .footer__content--desc ul li:hover .content h6, .footer--feature .footer__content--desc ul li:hover .content h6, .breadcrumb-item.active, .cart-plus-minus .cart-plus-minus-box,
.about--style2 .about__right .default-btn span {
  color: #E3A80F;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #f6f6f6;
}

p {
  color: #555555;
  font-weight: 400;
}

.shop-cart .section-wrapper .cart-top table tbody tr td.product-item .p-content a, .widget.shop-widget .widget-wrapper .shop-menu li a, .footer--style2 .footer__content--desc ul li a, .footer--style2 .footer__content--title h4, .footer--style2 .footer__newsletter--form form input, .footer--style2 .footer__newsletter--title h4, .banner__content h2, .default-pagination li a {
  color: #f6f6f6;
}

.member__item .member__inner {
  background-color: transparent;
  border-radius: 12px;
}
.member__item .member__inner:hover {
  box-shadow: 0 10px 20px rgba(227, 168, 15, 0.3);
}
.member__item .member__inner:hover .member__content h5 {
  color: #E3A80F;
}
.member__item .member__inner:hover p {
  color: #f6f6f6;
}
.member__item .member__content h5 {
  color: #f6f6f6;
}

.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-toggler--icon, .navbar .navbar-toggler--icon:after, .navbar .navbar-toggler--icon:before {
  background-color: #E3A80F;
}

.primary-color {
  color: #E3A80F;
}

.scrollToTop i {
  background: linear-gradient(135deg, #EDC111, #E3A80F);
}

.footer .footer__top {
  background: linear-gradient(135deg, #2C3E50, #000);
}
.footer .footer__content p a {
  color: #E3A80F;
}

.preloader {
  background: linear-gradient(135deg, #2C3E50, #000);
  background: #060606;
}
.preloader .preloader-inner .preloader-icon span {
  background: linear-gradient(135deg, #EDC111, #E3A80F);
}

.story__item h4, .story__item h6 {
  color: #f6f6f6;
}
.story__item .story__inner:hover h4 {
  color: #E3A80F;
}
.story__item p {
  color: #f6f6f6;
}
.story__item .story__inner {
  border-radius: 12px;
  background: transparent;
}
.story__item .story__inner:hover {
  box-shadow: 0 10px 20px rgba(227, 168, 15, 0.3);
  box-shadow: 0 3px 15px rgba(227, 168, 15, 0.15);
  box-shadow: none;
}

.transportation .section__wrapper .right .lab-line > span {
  background: #E3A80F !important;
}

.about .about__inner_not {
  box-shadow: none !important;
}
.about .about__inner {
  background: transparent;
  border-radius: 12px;
}
.about .about__inner:hover {
  box-shadow: 0 10px 20px rgba(227, 168, 15, 0.3);
}
.about .about__inner:hover p {
  color: #f6f6f6;
}

svg {
  width: 100%;
  height: 100%;
}

.svg-box-container {
  width: 100%;
  height: 80%;
  position: absolute;
  margin-top: -60px;
}
.svg-box-container .svg-box.first-svg-box {
  top: 0;
  left: 0;
  max-width: 200px;
  position: absolute;
}
.svg-box-container .svg-box.second-svg-box {
  bottom: 0;
  right: 0;
  max-width: 200px;
  position: absolute;
}

.elixr-hero {
  padding-top: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elixir-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elixr-features img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.app--style2::after {
  background: url(../../assets/images/app/bg.png) no-repeat;
  position: absolute;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.myVideo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#myVideo1 {
  display: block;
}

#myVideo2 {
  display: none;
}

@media only screen and (max-width: 500px) {
  #myVideo1 {
    display: none;
  }
  #myVideo2 {
    display: block;
  }
}
.ontop {
  z-index: 1500;
  position: relative;
  background-color: rgba(47, 46, 16, 0.36);
}

.flx-rev {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-item {
  border: 1px solid white;
  background-color: #000;
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
  color: #E3A80F;
  background-color: #fff9e7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
}/*# sourceMappingURL=custom.css.map */